extends layout

block content 
  section(class='py-3')
    h1(class="h1")= title

    a(class="btn btn-primary" href="/drink/create" role="button") Add Drink

    ul(class='list-group list-group-flush mt-3')
      each drink in drinks
        a(class='list-group-item list-group-item-action bg-light' href=drink.url)
          h5 #{drink.name}
          |  (#{drink.brand.name})

      else 
        p There are no drinks.