extends layout

block content 
  section(class='py-3')
    h1(class="h1")= title

    a(class="btn btn-primary" href="/brand/create" role="button") Add Brand

    ul(class='list-group list-group-flush')
      each brand in brands
        li(class='list-group-item bg-light pl-0')
          a(class="h3" href=brand.url)  #{brand.name}
          |  (#{brand.year_established})

      else 
        li(class='list-group-item bg-light') There are no brands registered yet.